<div class="login-form">
    <div class = "container">
      <div class="main">
        <div class="form-img">
         <img src="assets\Login Template.png" alt="backgroundimage">
        </div>
        <div class="content">
          <h2>Welcome To</h2>
            <h1>APAC World</h1>
          <h3>Forgot User Id...? </h3>
          <form [formGroup]="forgotUserIdForm" (ngSubmit)="sendUserId()">
           <small class="text-danger">{{ msg }}</small>


           <div>
             <small class="text-danger" *ngIf="employeeid?.invalid && employeeid?.touched"
               >Employee Id is required</small
             >
           </div>
            <input type="employeeid"
            class="form-control"
            aria-describedby="employeeidHelp"
            placeholder="Employee Id"
            [(ngModel)]="employee.localEmployeeId"
            
            required
           formControlName="employeeid"
            >




            <!-- <div>
            <small class="text-danger" [class.d-none]="emailid.valid || emailid.untouched">email pattern should be demo@capgemini.com</small>
        </div>
            <input type="email"
            id="emailaddress"
            class="form-control"
            aria-describedby="emailid"
            placeholder="EmailId"
            [(ngModel)]="employee.emailId"
            [ngModelOptions]="{ standalone: true }"
            required
            #emailid="ngModel"
            size="64" 
            maxLength="64"
            pattern=".+@capgemini\.com"
            [class.is-invalid]="emailid.invalid && emailid.touched"
            > -->

            <button class="btn btn-primary" type="submit" [disabled]="forgotUserIdForm.invalid">Send</button>
            <button class="btn btn-danger" routerLink="/login">Cancel</button>
          </form>
          <a href="#" routerLink="/forgotpassword">Forgot Password? </a>
            <p> Terms and Conditions &nbsp; &nbsp;</p>
            <p>&nbsp; Privacy Policy </p>
        </div>
      </div>
    </div>
  </div>