<div class="login-form">
  <div class="container">
    <div class="main">
      <div class="form-img">
        <img src="assets\Login Template.png" alt="registrationbackground"/>
      </div>
      <div class="content">
        <h2>Welcome To</h2>
        <h1>APAC World</h1>
        <h3>Set New Password</h3>
        <form
          [formGroup]="registrationForm"
          novalidate
          (ngSubmit)="registerEmployee()"
        >
          <small class="text-danger">{{ msg }}</small>


          <div>
            <small class="text-danger" *ngIf="userid?.invalid && userid?.touched"
              >User Id is required</small
            >
          </div>
          <input
            type="userid"
            class="form-control"
            aria-describedby="useridHelp"
            placeholder="User Id"
            [(ngModel)]="userId"
            readonly
            formControlName="userid"
          />

          <div >
            <small class="text-danger" *ngIf="password?.invalid && password?.touched"
              >Enter correct pattern(Example@12)</small
            >
          </div>
          <input
            type="password"
            class="form-control"
            placeholder="New Password"
            [(ngModel)]="employee.password"
            required
            formControlName="password"
            (change)="onPasswordChange()"
          />

          <div>
          <small
            class="text-danger"
            *ngIf="confirmpassword.hasError('mismatch')"
            >Password & Confirm Password should be same..!</small
          >
        </div>
          <input
            type="password"
            class="form-control"
            placeholder="Confirm New Password"
            (ngModel)="(employee.password)"
            required
          formControlName="confirmpassword"
          (change)="onPasswordChange()"
          />

          <button class="btn btn-primary" type="submit" [disabled]="registrationForm.invalid">
            Save my password
          </button>
        </form>
        <p>Terms and Conditions &nbsp; &nbsp;</p>
        <p>&nbsp; Privacy Policy</p>
      </div>
    </div>
  </div>
</div>
