<!-- <div class="body image">
  <div class="container">
    <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="title">Registration</div>
          <form #registrationform="ngForm" novalidate (ngSubmit)="registerEmployee()">
            <small class="text-danger">{{ msg }}</small>

            <div class="" input-boxes>
              <div class="input-box">
                <input
                  type="userid"
                  class="form-control"
                  aria-describedby="useridHelp"
                  placeholder="UserId"
                  [(ngModel)]="employee.userId"
                  [ngModelOptions]="{ standalone: true }"
                  required
                  #userid="ngModel"
                  [class.is-invalid]="userid.invalid && userid.touched"
                  pattern="[A-Za-z]{8,}"
                />
               
                <div *ngIf="userid.errors && userid.invalid && userid.touched">
                  <small class="text-danger" *ngIf="userid.errors.required"
                    >User Id is required</small
                  >
                  <small class="text-danger" *ngIf="userid.errors.pattern"
                    >Enter Eight Letter User Id..!</small
                  >
                </div>

               
              </div>


              <div class="input-box">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  [(ngModel)]="employee.password"
                  [ngModelOptions]="{ standalone: true }"
                  required
                  #password="ngModel"
                  [class.is-invalid]="password.invalid && password.touched"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                />
                  
                <div
                  *ngIf="
                    password.errors && password.invalid && password.touched
                  "
                >
                  <small class="text-danger" *ngIf="password.errors.required"
                    >Password is required</small
                  >
                  <small class="text-danger" *ngIf="password.errors.pattern"
                    >Enter Correct Password..!</small
                  >
                </div>
              </div>

              <div class="input-box">
                <input
                  type="conformpassword"
                  class="form-control"
                  placeholder="Conform Password"
                  (ngModel)="employee.password"
                  [ngModelOptions]="{ standalone: true }"
                  required
                  #conformpassword="ngModel"
                  [class.is-invalid]="conformpassword.invalid && conformpassword.touched"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                />
                 <small class="text-danger" [class.d-none] = "(conformpassword.value == password.value) || conformpassword.untouched">Password & Conform Password should be same</small>
                
               
              </div>

            </div>


            <div class="button input-box" >
              <input type="submit" value="Sign Up"  />
            </div>
          </form>

          <div class="text sign-in-text">
            <small class="text sign-in-text">Registered ? </small> <small
            class="text text-primary"
            style="cursor: pointer"
            [routerLink]="['/login']"
            >Signin here</small
          >
           
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- line 106 {{loginform.form.valid}}
    [disabled] ="loginform.form.invalid" -->
 <!--line 99  <small class="text-primary" (click)="gotoregistration()">New User ? Sign Up here</small> -->
 <!--line 24 <small class="text-danger" [class.d-none]="userid.valid || userid.untouched">UserId is required</small> -->
                <!-- line 34<div id="useridHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                <!-- line 52 <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small> -->
                <!-- line 81 <div *ngIf="conformpassword.errors && conformpassword.invalid && conformpassword.touched">
                  <small class="text-danger" *ngIf="conformpassword.errors.required"
                    >Conform Password is required</small
                  >
                  <small class="text-danger" *ngIf="conformpassword.errors.pattern"
                    >Enter Correct Conform Password..!</small
                  >
                </div> -->



                <div class="login-form">
                  <div class = "container">
                    <div class="main">
                      <div class="form-img">
                       <img src="login.png">
                      </div>
                      <div class="content">
                        <h2>APAC Platform</h2>
                       <h1>Millennial Garage</h1>
                        <h3>Set New Password </h3>
                        <form #registrationform="ngForm" novalidate (ngSubmit)="registerEmployee()">
                          <small class="text-danger">{{ msg }}</small>

                          <small class="text-danger" [class.d-none] = "(confirmpassword.value == password.value) || confirmpassword.untouched">password & confirm password should be same..!</small>

                          <div *ngIf="userid.errors && userid.invalid && userid.touched">
                            <small class="text-danger" *ngIf="userid.errors.required"
                              >userid is required</small
                            >
                            <small class="text-danger" *ngIf="userid.errors.pattern"
                              >enter eight letter userid..!</small
                            >
                          </div>
                          <input type="userid"
                          class="form-control"
                          aria-describedby="useridHelp"
                          placeholder="UserId"
                          [(ngModel)]="employee.userId"
                          [ngModelOptions]="{ standalone: true }"
                          required
                          #userid="ngModel"
                          [class.is-invalid]="userid.invalid && userid.touched"
                          pattern="[A-Za-z]{8,}">

                          
                          <div
                          *ngIf="
                            password.errors && password.invalid && password.touched
                          "
                        >
                          <small class="text-danger" *ngIf="password.errors.required"
                            >password is required..!</small
                          >
                          <small class="text-danger" *ngIf="password.errors.pattern"
                            >enter correct pattern..!</small
                          >
                         
                        </div>
                          <input type="password"
                          class="form-control"
                          placeholder="New Password"
                          [(ngModel)]="employee.password"
                          [ngModelOptions]="{ standalone: true }"
                          required
                          #password="ngModel"
                          [class.is-invalid]="password.invalid && password.touched"
                          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">


                          
                          <input
                          type="password"
                          class="form-control"
                          placeholder="Confirm New Password"
                          (ngModel)="employee.password"
                          [ngModelOptions]="{ standalone: true }"
                          required
                          #confirmpassword="ngModel"
                          [class.is-invalid]="confirmpassword.invalid && confirmpassword.touched"
                          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                          


                          <button class="btn btn-primary" type="submit">Save my password</button>

                        </form>
                          <p> Terms and Conditions &nbsp; &nbsp;</p>
                          <p>&nbsp; Privacy Policy </p>
                      </div>
                    </div>
                  </div>
                </div>



