::ng-deep .danger {
    color: rgb(243, 241, 241);
    font-weight: 500;
    background: #d8090986;
  box-shadow: 0 8px 32px 0 rgba(165, 170, 240, 0.37);
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 10px;
  }