<div class="login-form">
    <div class = "container">
      <div class="main">
        <div class="form-img">
         <img src="assets\Login Template.png" alt="backgroundimage">
        </div>
        <div class="content">
          <h2>Welcome To</h2>
            <h1>APAC World</h1>
          <h3>Forgot Password...? </h3>
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendPassword()">
           <small class="text-danger">{{ msg }}</small>


           <div>
             <small class="text-danger" *ngIf="userid?.touched && userid?.invalid"
               >User Id is required</small
             >
           </div>
            <input type="userid"
            class="form-control"
            aria-describedby="useridHelp"
            placeholder="User Id"
            [(ngModel)]="employee.userId"
            required
            formControlName="userid"
            >




           <!--  <div>
            <small class="text-danger" [class.d-none]="emailid.valid || emailid.untouched">email pattern should be demo@capgemini.com</small>
        </div>
            <input type="email"
            id="emailaddress"
            class="form-control"
            aria-describedby="emailid"
            placeholder="EmailId"
            [(ngModel)]="employee.emailId"
            [ngModelOptions]="{ standalone: true }"
            required
            #emailid="ngModel"
            size="64" 
            maxLength="64"
            pattern=".+@capgemini\.com"
            [class.is-invalid]="emailid.invalid && emailid.touched"
            > -->

            <button class="btn btn-primary" type="submit" [disabled] ="forgotPasswordForm.invalid">Reset</button>
            <button class="btn btn-danger" routerLink="/login">Cancel</button>
          </form>
          <a href="#" routerLink="/forgotuserid">Forgot User Id? </a>
            <p> Terms and Conditions &nbsp; &nbsp;</p>
            <p>&nbsp; Privacy Policy </p>
        </div>
      </div>
    </div>
  </div>