.welcome{
    background: url('bg-home.png');
    background-size: cover;
    height: 150px;
    width: 100%;
    margin-top: 2px;
    box-shadow: black;
    
}
.text{
    padding: 40px;
    margin-left: 10px;
}
.text h1{
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Ubuntu';
}
.text h1:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cadetblue;
}
.text h2{
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 8;
    font-family: Ubuntu
}
.logo{
    margin-left: 20px; 
    /* margin-right: 10px; */
}

  
  body {
    font-family: 'Ubuntu';
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 20px 20px;
  }
  .column h3{
      font-family: 'Ubuntu';
      font-weight: 1000;
      cursor: pointer;
      color: #E06632;
  }
  .column h3:hover{
      color: white;
      background-color: #2b0a3dc4;
  } 
  .column p{
      color: darkgray;
      font-family: 'Ubuntu';
      line-height: 20px;
      font-size: smaller;
  }
  
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 0px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 7.5rem;
    
   /*  margin: 5px; */
    text-align: center;
    background-color: white;
    border-radius: 5px;
  }
  .card:hover{
    border-top-color: #2B0A3D;
    border-left-color:#CBA557;
    border-bottom-color:#739A4A;
    border-right-color:#E06632;      
      border-style:  solid;
     /*  border-bottom-left-radius: 50px; */
      transition-duration: 0.92s
  }
  

  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 5px;
    }
  }
  
  
  

  
  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Patrick+Hand&family=Varela+Round&display=swap');

 .sidenav {
    box-shadow: 0 0 3px 0 rgba(0,0,0,.6);
} 

.font{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.name{
    color: #2B0A3D;
}
.img{
    background: url('/assets/profilepic.png');
}


@media(max-width: 600px){
    .welcome{
      max-width: 100%; 
    }
    
  }

  .footer {
      position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2B0A3D;
    color: white;
    text-align: center;
  }

  @media(max-width: 600px){
    .footer{
        position:fixed;
      max-width: 100%; 
    }
    
  }
  .kjkk{
    background: url('/assets/cglogo.png');
  }

  ::ng-deep .success {
    color: rgb(243, 241, 241);
    font-weight: 500;
    background: #05cf0f9d;
  box-shadow: 0 8px 32px 0 rgba(165, 170, 240, 0.37);
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 10px;
  }

  
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.mat-toolbar {
  background: white;
  color: #2B0A3D;
  box-shadow: #fff;
  height: 40px;
}
.span{
  font-family: Ubuntu;
}
::ng-deep .menu{
  background: white;
  margin-top: 10px;
}
.icon{
  color: red;
  margin-top: 5px;
  size: 20px;
}
.logout{
  color: red;
  font-family: Ubuntu;
  font-weight: 500;
}
.name{
  cursor: pointer;
  font-size: large;
  margin-right: 4px;
}
.profilepic{
  cursor: pointer;
}

.mat{
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.082);

  background-color: red;

  border: 0px;
}

.paragraph{
  text-overflow: ellipsis;
overflow: hidden;
white-space: pre-wrap;
}













