<!-- <p>home works!</p>
 -->

  <!-- <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front"> -->
        <!--<img src="images/frontImg.jpg" alt="">-->
       <!--  <div class="text">
          <span class="text-1">Every new friend is a <br> new adventure</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back"> -->
        <!--<img class="backImg" src="images/backImg.jpg" alt="">-->
       <!--  <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
          <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" required>
              </div>
              <div class="text"><a href="#">Forgot password?</a></div>
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">Signup</div>
        <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Enter your name" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
              <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
 -->
 <!--Navbar-->
 

 <!--Navbar-->

 <nav class="navbar navbar-dark bg-white navbar-expand-sm d-flex justify-content-between">
  <img  class="logo" src="cglogo.png" width="200" height="40">
  <div class="collapse navbar-collapse " id="navbar-list-4">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color: #2B0A3D; font-family: 'Ubuntu'; font-size: large; font-style: oblique;font-weight: 500;" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{userId}}
          <img src="profilepic.png" width="30" height="30" class="rounded-circle margin-right: 10px">
        </a>
        <div class="dropdown-menu margin-top: 5px" aria-labelledby="navbarDropdownMenuLink ">
          <a class="dropdown-item" href="#">Change Password</a>
          <a class="dropdown-item" (click)="logoutEmployee()"><button type="button" class="btn btn-danger">SignOut</button></a>
        </div>
      </li>   
    </ul>
  </div>
</nav>

 <div class="welcome">
   <div class="text">
   <h2>Welcome to</h2>
   <h1> APAC Platform </h1>
  </div>
 </div>

 <div class="row">
  <div class="column">
    <div class="card">
      <h3 style="color: #2B0A3D;">Millennial Garage Dashboard</h3>
      <p>APAC Platform</p>
      <p>.......</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3 style="color: #CBA557;">Capability Development Planner</h3>
      <p>Millennial Garage</p>
      <p>APAC Platform</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3 style="color: #739A4A;">Digital Onboarding</h3>
      <p>Millennial Garage</p>
      <p>APAC Platform</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3 style="color: #E06632;">Ideathon</h3>
      <p>Millennial Garage</p>
      <p>APAC Platform</p>
    </div>
  </div>
</div>


<div class="footer">
  <p>Confidential and for internal use only. Copyright ©2021. All rights reserved.</p>
</div>


  <!--  <button type="button"  class="btn-primary" (click)="logoutEmployee()">SignOut</button> -->


   
   
 